pytest==8.4.2
setuptools==80.9.0
parse==1.20.2
numpy==2.3.4
scipy==1.16.3
regex==2025.11.3
sympy==1.14.0
advent-of-code-data==2.1.0
-e .
frozendict==2.4.6
# mpmath
networkx==3.5
# bidict
more_itertools==10.8.0
# multidict
pre-commit==4.3.0
scikit-learn==1.7.2
pulp==3.3.0
shapely==2.1.2