pytest==7.4.1
setuptools==68.2.0
parse==1.19.1
numpy==1.25.2
scipy==1.11.2
regex==2023.8.8
sympy
advent-of-code-data==2.0.1
-e .
frozendict
mpmath
networkx
bidict
more_itertools==10.1.0
black
multidict
pylint[spelling]==2.17.5
pyupgrade==3.10.1
pre-commit==3.4.0